{{!-- <header>
  <h1>Hey This is a Header</h1>
  <p>boy get the fucking starp cuz this shit is awesome!</p>
</header> --}}

<header>
  <h1>{{title}}</h1>
  <a href="/" style="color: #fff; font-size: 20px; text-decoration: none">Home</a>
  <a href="/about">About</a>
  <a href="/projects">Projects</a>
  <a href="/help.html">Help</a>
</header>