{{!-- <header>
  <h1>Hey This is a Header</h1>
  <p>boy get the fucking starp cuz this shit is awesome!</p>
</header> --}}

<header>
  <h1>{{title}}</h1>
  <a href="/">Home</a>
  <br>
  <a href="/about">About</a>
</header>