<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Root Page</title>
  <style>
    body {
      background: linear-gradient(to right,rgb(0, 0, 0), rgb(22, 22, 22), rgb(40, 40, 41));
      font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      color: rgb(180, 177, 177);
      text-align: center;
    }
    h3 {
      text-align: left;
      
    }
    a {
      text-decoration: none;
      color: grey;
    }
    a:hover {
      text-decoration: line-through;
      color: grey;
    }
    @media screen and (max-width: 400px) {
      h3 {font-size: 16px;}
      p {
      font-size: 15px;
      }
      a {
        padding: 5px;
        font-size: 18px;
      }
    }
    
  </style>
</head>
<body>
  
  <h3>{{> header}}</h3>

    <p>{{uppMe info}}</p>

    {{> footer}}
</body>
</html>